<div style="padding:5px;">
  <div>
    <div style='display:inline-block'><%= link_to(notification.model.component.title, "/tr8n/translator/assignments#comp-#{notification.model.component.id}", :target => '_top') %></div>
  </div>
  <!--<div>-->
    <!--<div style='display:inline-block'><%=tr("Sections:") %></div>-->
    <!--<div style='display:inline-block'><%= notification.model.component.sources.count %></div>-->
  <!--</div>-->
</div>

